<div class="{{ menu_class }}">
    <ul>
        <li class="{% if '/' == context.request.path %}
                        active
                    {%endif%}"><a href="{% url 'core:home' %}">Home</a></li>
        {% for item in categories %}
        <li class="{% if item.get_absolute_url == context.request.path %}
                        active
                    {%endif%}">
            <a href="{{ item.get_absolute_url }}">
                {{item.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>